@use '../abstracts' as *;

.btn {
    display: inline-block;
    padding: $spacing-sm $spacing-lg;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.btn-primary {
    background-color: $primary-color;
    color: white;
}

.btn-primary:hover {
    background-color: #0e1d16;
}

.btn-outline {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
}

.btn-outline:hover {
    background-color: $primary-color;
    color: white;
}