@use '../abstracts' as *;

.footer {
    background-color: $light-color;
    padding: $spacing-lg 0;
}

.footer-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: $spacing-md;
}

.footer-address p {
    margin-bottom: $spacing-sm;
}

.footer-links {
    margin-bottom: $spacing-sm;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    margin: $spacing-sm 0;
}

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-social a {
    margin: 0 $spacing-sm;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

@media (min-width: 768px) {
    .footer-con {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .footer-logo {
        flex: 1;
    }

    .footer-add {
        flex: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-links {
        flex-direction: row;
        align-items: center;
    }

    .footer-links a {
        margin: 0 $spacing-sm;
    }
}