@use '../abstracts' as *;


.hero {
    background-color: $light-color;
    padding: $spacing-lg 0;
}

.hero-items {
    display: flex;
    flex-direction: column;
}

.hero-text {
    text-align: left;
    margin-bottom: $spacing-lg;
}

.hero-text h1 {
    margin-bottom: $spacing-md;
}

.hero-image {
    background-image: url('../images/hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .hero-items {
        flex-direction: row;
        align-items: center;
    }

    .hero-text {
        flex: 1;
        margin-bottom: 0;
        padding-right: $spacing-lg;
    }

    .hero-image {
        flex: 1;
        height: 400px;
    }
}