@use '../abstracts' as *;

.hero {

    .hero-text {
        padding: $spacing-xl;
        background-color: $light-color;
        @include flex-column;
        justify-content: center;

        h1 {
            color: $primary-color;
            margin-bottom: $spacing-lg;
        }

        p {
            font-size: $font-size-lg;
            max-width: 80%;
            color: $secondary-color;
        }
    }

    .hero-image {
        min-height: 300px;
        background-image: url('../images/hero.jpeg');
        background-size: cover;
        background-position: center;

        @include tablet-up {
            min-height: auto;
        }
    }
}