@use '../abstracts' as *;

.hero {
    background-color: #D9D9D9;
    padding-bottom: 72px;
    padding-top: 72px;

    .hero-items {
        height: 100%;
        display: flex;
        flex-direction: column;

        .hero-text {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 4rem;
            }
        }

        .hero-image {
            background-image: url('../images/hero.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 320px;
            border-radius: 8px;
        }
    }
}

@media screen and (min-width: 768px) {

    .hero {
        background-color: #D9D9D9;
        height: 800px;

        #full-hero {
            height: 100%;
        }

        .hero-items {
            height: 100%;
            flex-direction: row;

            .hero-text {
                flex: 1;
            }

            .hero-image {
                flex: 1;
                height: auto;
                min-height: 100%;
                background-size: cover;
                overflow: hidden;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        .hero-items {
            .hero-text {
                h1 {
                    font-size: 5rem;
                }
            }
        }

    }
}